In [3]:
import os
import json
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [3]:
agg_ins_path=r"D:\DS-Projects\Phonepe\Final\pulse\data\aggregated\insurance\country\india\state"
agg_ins_list=os.listdir(agg_ins_path)

table_1=[]

for i in agg_ins_list:
    state1 = os.path.join(agg_ins_path, i)
    state1_list = os.listdir(state1)

   
    for j in state1_list:
        years1 = os.path.join(state1, j)
        years1_list = os.listdir(years1)

        
        for k in years1_list:
            qtr1 = os.path.join(years1, k)
            data=open(qtr1,"r")

            J=json.load(data)
            
            for n in J["data"]["transactionData"]:
                    insurance = n["name"]
                    count = n['paymentInstruments'][0]['count']
                    amount = n['paymentInstruments'][0]["amount"]
                    

                   
                    table_1.append({
                        'states': i,
                        'years': j,
                        'quarter':int(k.strip('.json')),
                        'transaction_type': insurance,
                        'transaction_count': count,
                        'transaction_amount': amount
                    })

df_table1=pd.DataFrame(table_1)

df_table1['states']=df_table1['states'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
df_table1['states']=df_table1['states'].str.replace('-',' ')
df_table1['states']=df_table1['states'].str.title()
df_table1['states']=df_table1['states'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

df_table1.to_csv('table1.csv',index=False)


print(df_table1)

                states years  quarter transaction_type  transaction_count  \
0    Andaman & Nicobar  2020        2        Insurance                  6
1    Andaman & Nicobar  2020        3        Insurance                 41
2    Andaman & Nicobar  2020        4        Insurance                124
3    Andaman & Nicobar  2021        1        Insurance                225
4    Andaman & Nicobar  2021        2        Insurance                137
..                 ...   ...      ...              ...                ...
677        West Bengal  2023        4        Insurance              72712
678        West Bengal  2024        1        Insurance              79576
679        West Bengal  2024        2        Insurance              67048
680        West Bengal  2024        3        Insurance              77158
681        West Bengal  2024        4        Insurance              91719

     transaction_amount
0                1360.0
1               15380.0
2              157975.0
3              244266.0
4              181504.0
..                  ...
677         100365562.0
678         104987909.0
679          89476633.0
680         107451766.0
681         120602777.0

[682 rows x 6 columns]

In [87]:
df_table1['states'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [5]:
url= "postgresql://neondb_owner:npg_bpCADu5V4PsM@ep-purple-bird-a1wedpb9.ap-southeast-1.aws.neon.tech/phonepe_pulse?sslmode=require&channel_binding=require"

In [6]:
engine=create_engine(url)

In [90]:
df_table1.to_sql('agg_ins', engine, if_exists='replace', index=False)

682

In [8]:
agg_trans_path = r'D:\DS-Projects\Phonepe\Exercise\pulse\data\aggregated\transaction\country\india\state'
agg_trans_list = os.listdir(agg_trans_path)


table_2 = []

for i in agg_trans_list:
    state2 = os.path.join(agg_trans_path, i)
    state2_list = os.listdir(state2)

   
    for j in state2_list:
        years2 = os.path.join(state2, j)
        years2_list = os.listdir(years2)

        
        for k in years2_list:
            qtr2 = os.path.join(years2, k)
            data=open(qtr2,"r")

            J=json.load(data)



                # 4. Step 2 of ETL: Transform 
            for m in J["data"]["transactionData"]:
                        transaction = m["name"]
                        count = m['paymentInstruments'][0]['count']
                        amount = m['paymentInstruments'][0]["amount"]
                        

                    
                        table_2.append({
                            'states': i,
                            'years': j,
                            'quarter':int(k.strip('.json')),
                            'transaction_type': transaction,
                            'transaction_count': count,
                            'transaction_amount': amount
                        })

#5 . Step 3 of ETL: Load 
df_table2 = pd.DataFrame(table_2)

df_table2['states']=df_table2['states'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
df_table2['states']=df_table2['states'].str.replace('-',' ')
df_table2['states']=df_table2['states'].str.title()
df_table2['states']=df_table2['states'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

df_table2.to_csv('table2.csv',index=False)
df_table2.to_sql('agg_trans', engine, if_exists='replace', index=False)

34

In [9]:
df_table2

,states,years,quarter,transaction_type,transaction_count,transaction_amount
0,Andaman & Nicobar,2018,1,Recharge & bill payments,4200,1.845307e+06
1,Andaman & Nicobar,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,Andaman & Nicobar,2018,1,Merchant payments,298,4.525072e+05
3,Andaman & Nicobar,2018,1,Financial Services,33,1.060142e+04
4,Andaman & Nicobar,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
5029,West Bengal,2024,4,Merchant payments,655100809,3.892862e+11
5030,West Bengal,2024,4,Peer-to-peer payments,493217788,1.361927e+12
5031,West Bengal,2024,4,Recharge & bill payments,76043195,5.753406e+10
5032,West Bengal,2024,4,Financial Services,2352084,8.472965e+08
5033,West Bengal,2024,4,Others,421806,5.053641e+08

In [92]:
agg_user_path = r'D:\DS-Projects\Phonepe\Final\pulse\data\aggregated\user\country\india\state'
agg_user_list = os.listdir(agg_user_path)


table_3 = []

for i in agg_user_list:
    state3 = os.path.join(agg_user_path, i)
    state3_list = os.listdir(state3)

    for j in state3_list:
        years3 = os.path.join(state3, j)
        years3_list = os.listdir(years3)

        for k in years3_list:
            qtr3 = os.path.join(years3, k)
            data=open(qtr3,"r")

            J=json.load(data)

            user = J["data"]["aggregated"].get("registeredUsers")
            app = J["data"]["aggregated"].get("appOpens")

            try:
                for n in J['data']['usersByDevice']:
                    brand=n['brand']
                    count=n['count']
                    percent=n['percentage']

                    table_3.append({
                            'states': i,
                            'years': j,
                            'quarter':int(k.strip('.json')),
                            'registered_users': user,
                            'app_opens': app,
                            'brand': brand,
                            'transaction_count': count,
                            'percentage': percent
                        })
            except:
                pass

df_table3=pd.DataFrame(table_3)

df_table3['states']=df_table3['states'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
df_table3['states']=df_table3['states'].str.replace('-',' ')
df_table3['states']=df_table3['states'].str.title()
df_table3['states']=df_table3['states'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

print(df_table3)

df_table3.to_csv('table3.csv',index=False)
df_table3.to_sql('agg_user', engine, if_exists='replace', index=False)

                 states years  quarter  registered_users  app_opens    brand  \
0     Andaman & Nicobar  2018        1              6740          0   Xiaomi
1     Andaman & Nicobar  2018        1              6740          0  Samsung
2     Andaman & Nicobar  2018        1              6740          0     Vivo
3     Andaman & Nicobar  2018        1              6740          0     Oppo
4     Andaman & Nicobar  2018        1              6740          0  OnePlus
...                 ...   ...      ...               ...        ...      ...
6727        West Bengal  2022        1          21919787  236131065   Lenovo
6728        West Bengal  2022        1          21919787  236131065  Infinix
6729        West Bengal  2022        1          21919787  236131065     Asus
6730        West Bengal  2022        1          21919787  236131065    Apple
6731        West Bengal  2022        1          21919787  236131065   Others

      transaction_count  percentage
0                  1665    0.247033
1                  1445    0.214392
2                   982    0.145697
3                   501    0.074332
4                   332    0.049258
...                 ...         ...
6727             330017    0.015056
6728             284678    0.012987
6729             280347    0.012790
6730             277752    0.012671
6731            2196334    0.100199

[6732 rows x 8 columns]

732

In [7]:
map_ins_path = r"D:\DS-Projects\Phonepe\Final\pulse\data\map\insurance\hover\country\india\state"
map_ins_list = os.listdir(map_ins_path)

table_4= []

for i in map_ins_list:
    state4 = os.path.join(map_ins_path, i)
    state4_list = os.listdir(state4)

   
    for j in state4_list:
        years4 = os.path.join(state4, j)
        years4_list = os.listdir(years4)

        
        for k in years4_list:
            qtr4 = os.path.join(years4, k)

            with open(qtr4, 'r') as f:
                data = json.load(f)
                
                for n in data['data']['hoverDataList']:
                    name=n['name']
                    count=n['metric'][0]['count']
                    amount=n['metric'][0]['amount']
                    table_4.append({
                        'states':i,
                        "years":j,
                        'quarter':int(k.strip('.json')),
                        'districts':name,
                        'transaction_count':count,
                        'transaction_amount':amount
                    })

df_table4=pd.DataFrame(table_4)

df_table4['states']=df_table4['states'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
df_table4['states']=df_table4['states'].str.replace('-',' ')
df_table4['states']=df_table4['states'].str.title()
df_table4['states']=df_table4['states'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

print(df_table4)
df_table4.to_csv('table4.csv',index=False)
df_table4.to_sql('map_ins', engine, if_exists='replace', index=False)

                  states years  quarter                          districts  \
0      Andaman & Nicobar  2020        2             south andaman district
1      Andaman & Nicobar  2020        2                  nicobars district
2      Andaman & Nicobar  2020        3  north and middle andaman district
3      Andaman & Nicobar  2020        3             south andaman district
4      Andaman & Nicobar  2020        3                  nicobars district
...                  ...   ...      ...                                ...
13871        West Bengal  2024        4                alipurduar district
13872        West Bengal  2024        4         paschim bardhaman district
13873        West Bengal  2024        4                     nadia district
13874        West Bengal  2024        4                   birbhum district
13875        West Bengal  2024        4           purba medinipur district

       transaction_count  transaction_amount
0                      3               795.0
1                      3               565.0
2                      1               281.0
3                     35             13651.0
4                      5              1448.0
...                  ...                 ...
13871               1023           1613143.0
13872               4945           7005851.0
13873               3807           5031294.0
13874               1818           2423290.0
13875               3559           4439061.0

[13876 rows x 6 columns]

876

In [8]:
df_table4['districts'].unique()

array(['south andaman district', 'nicobars district',
       'north and middle andaman district', 'nicobar district',
       'east godavari district', 'srikakulam district',
       'spsr nellore district', 'vizianagaram district',
       'visakhapatnam district', 'prakasam district',
       'anantapur district', 'ysr district', 'west godavari district',
       'kurnool district', 'chittoor district', 'guntur district',
       'krishna district', 'sri potti sriramulu nellore district',
       'annamayya district', 'ananthapuramu district',
       'tirupati district', 'alluri sitharama raju district',
       'nandyal district', 'sri sathyasai district', 'palnadu district',
       'parvathipuram manyam district',
       'dr br ambedkar konaseema district', 'bapatla district',
       'ntr district', 'kakinada district', 'anakapalli district',
       'eluru district', 'lower dibang valley district',
       'west kameng district', 'lower subansiri district',
       'west siang district', 'kamle district', 'east siang district',
       'tirap district', 'lepa rada district', 'tawang district',
       'namsai district', 'papum pare district', 'changlang district',
       'longding district', 'upper siang district', 'siang district',
       'lower siang district', 'dibang valley district',
       'upper subansiri district', 'east kameng district',
       'lohit district', 'pakke kessang district', 'kra daadi district',
       'kurung kumey district', 'anjaw district', 'shi yomi district',
       'itanagar capital complex district', 'tinsukia district',
       'lakhimpur district', 'kamrup district', 'kokrajhar district',
       'karbi anglong district', 'sivasagar district',
       'dibrugarh district', 'south salmara mancachar district',
       'nagaon district', 'dhubri district', 'golaghat district',
       'udalguri district', 'majuli district', 'sonitpur district',
       'hojai district', 'marigaon district', 'chirang district',
       'cachar district', 'nalbari district',
       'west karbi anglong district', 'dhemaji district',
       'karimganj district', 'bongaigaon district', 'dima hasao district',
       'baksa district', 'charaideo district', 'darrang district',
       'kamrup metropolitan district', 'hailakandi district',
       'barpeta district', 'goalpara district', 'biswanath district',
       'jorhat district', 'morigaon district', 'bajali district',
       'south salmara mankachar district', 'tamulpur district',
       'madhepura district', 'purnia district', 'nalanda district',
       'buxar district', 'darbhanga district', 'nawada district',
       'jamui district', 'sheikhpura district', 'siwan district',
       'muzaffarpur district', 'patna district', 'jehanabad district',
       'rohtas district', 'begusarai district', 'supaul district',
       'sitamarhi district', 'saran district', 'arwal district',
       'vaishali district', 'pashchim champaran district',
       'gopalganj district', 'lakhisarai district', 'aurangabad district',
       'kaimur bhabua district', 'araria district', 'munger district',
       'katihar district', 'khagaria district', 'saharsa district',
       'bhagalpur district', 'madhubani district', 'kishanganj district',
       'gaya district', 'samastipur district', 'banka district',
       'purbi champaran district', 'sheohar district', 'bhojpur district',
       'kaimur district', 'purnea district', 'chandigarh district',
       'dhamtari district', 'korba district', 'surajpur district',
       'baloda bazar district', 'sukma district', 'raigarh district',
       'janjgir champa district', 'jashpur district', 'balod district',
       'kabirdham district', 'surguja district', 'dantewada district',
       'gariyaband district', 'durg district', 'rajnandgaon district',
       'raipur district', 'narayanpur district', 'kanker district',
       'korea district', 'mungeli district', 'bilaspur district',
       'balrampur district', 'bijapur district', 'bemetara district',
       'bastar district', 'kondagaon district', 'mahasamund district',
       'khairagarh chhuikhadan gandai district', 'sakti district',
       'balodabazar bhatapara district',
       'mohla manpur ambagarh chouki district',
       'gaurela pendra marwahi district', 'gariaband district',
       'manendragarh chirmiri bharatpur district',
       'balrampur ramanujganj district', 'north bastar kanker district',
       'sarangarh bilaigarh district', 'diu district', 'daman district',
       'dadra and nagar haveli district', 'south district',
       'central district', 'new delhi district', 'west district',
       'south west district', 'south east delhi district',
       'shahdara district', 'north east district', 'east district',
       'north west district', 'north district', 'south east district',
       'north goa district', 'south goa district', 'anand district',
       'jamnagar district', 'devbhumi dwarka district', 'rajkot district',
       'aravallis district', 'chhotaudepur district', 'botad district',
       'bharuch district', 'bhavnagar district', 'junagadh district',
       'mahesana district', 'the dangs district', 'kheda district',
       'surat district', 'porbandar district', 'gandhinagar district',
       'panch mahals district', 'narmada district',
       'gir somnath district', 'valsad district', 'mahisagar district',
       'sabar kantha district', 'tapi district', 'vadodara district',
       'banas kantha district', 'amreli district', 'ahmadabad district',
       'dohad district', 'navsari district', 'patan district',
       'kachchh district', 'surendranagar district', 'morbi district',
       'aravalli district', 'ahmedabad district', 'dahod district',
       'panchmahals district', 'sabarkantha district', 'dangs district',
       'banaskantha district', 'yamunanagar district', 'sonipat district',
       'jind district', 'rohtak district', 'faridabad district',
       'mahendragarh district', 'hisar district', 'karnal district',
       'fatehabad district', 'palwal district', 'charkhi dadri district',
       'ambala district', 'rewari district', 'panchkula district',
       'bhiwani district', 'sirsa district', 'mewat district',
       'panipat district', 'gurugram district', 'kaithal district',
       'kurukshetra district', 'jhajjar district', 'nuh district',
       'solan district', 'sirmaur district', 'shimla district',
       'hamirpur district', 'una district', 'kangra district',
       'kullu district', 'mandi district', 'chamba district',
       'kinnaur district', 'lahul and spiti district',
       'lahaul and spiti district', 'doda district', 'samba district',
       'srinagar district', 'baramulla district', 'jammu district',
       'ganderbal district', 'udhampur district', 'bandipore district',
       'reasi district', 'kathua district', 'kishtwar district',
       'pulwama district', 'ramban district', 'rajouri district',
       'kulgam district', 'budgam district', 'anantnag district',
       'kupwara district', 'shopian district', 'poonch district',
       'mirpur district', 'muzaffarabad district', 'ramgarh district',
       'ranchi district', 'east singhbhum district', 'jamtara district',
       'dumka district', 'koderma district', 'hazaribagh district',
       'simdega district', 'garhwa district',
       'saraikela kharsawan district', 'gumla district',
       'chatra district', 'khunti district', 'dhanbad district',
       'godda district', 'deoghar district', 'palamu district',
       'latehar district', 'west singhbhum district', 'pakur district',
       'lohardaga district', 'sahebganj district', 'giridih district',
       'bokaro district', 'seraikela kharsawan district',
       'sahibganj district', 'hazaribag district', 'mysuru district',
       'chitradurga district', 'kalaburagi district',
       'ramanagara district', 'mandya district', 'kodagu district',
       'chikkamagaluru district', 'haveri district', 'ballari district',
       'belagavi district', 'kolar district', 'uttara kannada district',
       'tumakuru district', 'yadgir district', 'bengaluru urban district',
       'chikkaballapura district', 'davanagere district',
       'bagalkote district', 'vijayapura district', 'koppal district',
       'bidar district', 'bengaluru rural district', 'raichur district',
       'chamarajanagara district', 'dakshina kannada district',
       'hassan district', 'dharwad district', 'shivamogga district',
       'udupi district', 'gadag district', 'chamarajanagar district',
       'vijayanagara district', 'yadgiri district',
       'chikkaballapur district', 'thiruvananthapuram district',
       'kasaragod district', 'malappuram district',
       'pathanamthitta district', 'wayanad district',
       'alappuzha district', 'kozhikode district', 'kollam district',
       'thrissur district', 'palakkad district', 'kannur district',
       'kottayam district', 'ernakulam district', 'idukki district',
       'kasargod district', 'kargil district', 'leh ladakh district',
       'lakshadweep district', 'morena district', 'alirajpur district',
       'sehore district', 'rajgarh district', 'khargone district',
       'satna district', 'narsinghpur district', 'jabalpur district',
       'hoshangabad district', 'vidisha district', 'balaghat district',
       'singrauli district', 'betul district', 'sidhi district',
       'datia district', 'dewas district', 'sheopur district',
       'neemuch district', 'raisen district', 'mandsaur district',
       'barwani district', 'katni district', 'dindori district',
       'shivpuri district', 'gwalior district', 'anuppur district',
       'agar malwa district', 'ashoknagar district', 'sagar district',
       'niwari district', 'rewa district', 'shajapur district',
       'ujjain district', 'bhind district', 'tikamgarh district',
       'seoni district', 'harda district', 'burhanpur district',
       'damoh district', 'bhopal district', 'jhabua district',
       'dhar district', 'guna district', 'east nimar district',
       'chhindwara district', 'umaria district', 'mandla district',
       'indore district', 'shahdol district', 'ratlam district',
       'panna district', 'chhatarpur district', 'mauganj district',
       'maihar district', 'khandwa district', 'narmadapuram district',
       'pandhurna district', 'jalgaon district', 'latur district',
       'thane district', 'bhandara district', 'nandurbar district',
       'chandrapur district', 'kolhapur district', 'solapur district',
       'mumbai district', 'sindhudurg district', 'dhule district',
       'wardha district', 'parbhani district', 'mumbai suburban district',
       'hingoli district', 'ratnagiri district', 'nanded district',
       'osmanabad district', 'nagpur district', 'buldhana district',
       'nashik district', 'akola district', 'yavatmal district',
       'amravati district', 'washim district', 'sangli district',
       'gadchiroli district', 'raigad district', 'palghar district',
       'jalna district', 'gondia district', 'ahmednagar district',
       'pune district', 'beed district', 'satara district',
       'dharashiv district', 'chhatrapati sambhaji nagar district',
       'tamenglong district', 'chandel district', 'bishnupur district',
       'imphal east district', 'senapati district',
       'churachandpur district', 'thoubal district', 'kakching district',
       'tengnoupal district', 'ukhrul district', 'imphal west district',
       'kangpokpi district', 'noney district', 'jiribam district',
       'pherzawl district', 'kamjong district',
       'north garo hills district', 'south west khasi hills district',
       'west garo hills district', 'east jaintia hills district',
       'east khasi hills district', 'ribhoi district',
       'west khasi hills district', 'east garo hills district',
       'west jaintia hills district', 'south garo hills district',
       'south west garo hills district', 'ri bhoi district',
       'eastern west khasi hills district', 'serchhip district',
       'aizawl district', 'lunglei district', 'saiha district',
       'mamit district', 'lawngtlai district', 'kolasib district',
       'champhai district', 'hnahthial district', 'siaha district',
       'saitual district', 'khawzawl district', 'mon district',
       'phek district', 'kiphire district', 'kohima district',
       'tuensang district', 'peren district', 'dimapur district',
       'wokha district', 'longleng district', 'zunheboto district',
       'mokokchung district', 'tseminyu district',
       'chumoukedima district', 'noklak district', 'shamator district',
       'rayagada district', 'koraput district', 'malkangiri district',
       'sambalpur district', 'kalahandi district', 'anugul district',
       'ganjam district', 'jajapur district', 'bargarh district',
       'dhenkanal district', 'bhadrak district', 'nuapada district',
       'kendujhar district', 'mayurbhanj district', 'jharsuguda district',
       'kandhamal district', 'deogarh district', 'sundargarh district',
       'jagatsinghapur district', 'balangir district',
       'baleshwar district', 'puri district', 'sonepur district',
       'khordha district', 'boudh district', 'gajapati district',
       'nayagarh district', 'nabarangpur district', 'kendrapara district',
       'cuttack district', 'angul district', 'subarnapur district',
       'jajpur district', 'jagatsinghpur district', 'baleswar district',
       'karaikal district', 'puducherry district', 'yanam district',
       'mahe district', 'shahid bhagat singh nagar district',
       'fazilka district', 'barnala district', 'mansa district',
       'ludhiana district', 'sri muktsar sahib district',
       'patiala district', 'pathankot district',
       'fatehgarh sahib district', 'rupnagar district',
       'tarn taran district', 'sas nagar district', 'sangrur district',
       'jalandhar district', 'bathinda district', 'kapurthala district',
       'firozepur district', 'gurdaspur district', 'amritsar district',
       'faridkot district', 'hoshiarpur district', 'moga district',
       'shaheed bhagat singh nagar district', 'ferozepur district',
       'malerkotla district', 'pali district', 'ganganagar district',
       'churu district', 'jaipur district', 'baran district',
       'bhilwara district', 'banswara district', 'dungarpur district',
       'tonk district', 'jodhpur district', 'karauli district',
       'udaipur district', 'dausa district', 'nagaur district',
       'bharatpur district', 'barmer district', 'ajmer district',
       'chittorgarh district', 'hanumangarh district',
       'pratapgarh district', 'sawai madhopur district',
       'jalore district', 'bikaner district', 'sikar district',
       'dholpur district', 'sirohi district', 'rajsamand district',
       'jaisalmer district', 'bundi district', 'jhalawar district',
       'alwar district', 'kota district', 'jhunjhunu district',
       'dudu district', 'sri ganganagar district', 'kekri district',
       'khairthal tijara district', 'jodhpur rural district',
       'phalodi district', 'neem ka thana district', 'beawar district',
       'balotra district', 'sanchore district', 'shahpura district',
       'anupgarh district', 'deedwana kuchaman district',
       'gangapur city district', 'kotputli behror district',
       'jaipur rural district', 'salumber district', 'deeg district',
       'pakyong district', 'soreng district', 'namchi district',
       'gangtok district', 'mangan district', 'gyalshing district',
       'tiruchirappalli district', 'ramanathapuram district',
       'krishnagiri district', 'cuddalore district',
       'kancheepuram district', 'tiruppur district',
       'dharmapuri district', 'thoothukkudi district',
       'thanjavur district', 'madurai district',
       'tiruvannamalai district', 'salem district',
       'nagapattinam district', 'tirupathur district',
       'ariyalur district', 'chennai district', 'the nilgiris district',
       'erode district', 'karur district', 'kallakkurichi district',
       'viluppuram district', 'pudukkottai district',
       'perambalur district', 'coimbatore district',
       'virudhunagar district', 'dindigul district', 'sivaganga district',
       'tenkasi district', 'chengalpattu district',
       'kanniyakumari district', 'tirunelveli district',
       'thiruvallur district', 'theni district', 'ranipet district',
       'namakkal district', 'vellore district', 'thiruvarur district',
       'tiruvallur district', 'mayiladuthurai district',
       'tiruvarur district', 'thoothukudi district',
       'kallakurichi district', 'narayanpet district',
       'nalgonda district', 'jangaon district',
       'bhadradri kothagudem district', 'warangal rural district',
       'kumuram bheem asifabad district', 'nizamabad district',
       'adilabad district', 'rajanna sircilla district',
       'nagarkurnool district', 'peddapalle district', 'nirmal district',
       'mahabubabad district', 'sangareddy district',
       'wanaparthy district', 'vikarabad district', 'jagtial district',
       'yadadri bhuvanagiri district', 'medak district',
       'mahbubnagar district', 'jaya shankar bhalupally district',
       'warangal urban district', 'rangareddy district',
       'hyderabad district', 'suryapet district',
       'jogulamba gadwal district', 'kamareddy district',
       'mulugu district', 'medchal malkajgiri district',
       'karimnagar district', 'mancherial district', 'siddipet district',
       'khammam district', 'warangal district',
       'jayashankar bhupalpally district', 'peddapalli district',
       'mahabubnagar district', 'hanumakonda district',
       'unakoti district', 'khowai district', 'sepahijala district',
       'north tripura district', 'dhalai district',
       'south tripura district', 'gomati district',
       'west tripura district', 'amethi district',
       'siddharthnagar district', 'auraiya district', 'sambhal district',
       'kanpur nagar district', 'aligarh district', 'mahoba district',
       'lucknow district', 'sant kabeer nagar district',
       'hathras district', 'budaun district', 'moradabad district',
       'kushinagar district', 'baghpat district', 'shahjahanpur district',
       'muzaffarnagar district', 'ambedkar nagar district',
       'bahraich district', 'jalaun district', 'rampur district',
       'ballia district', 'shravasti district', 'kasganj district',
       'varanasi district', 'gautam buddha nagar district',
       'basti district', 'shamli district', 'maharajganj district',
       'etawah district', 'etah district', 'banda district',
       'bijnor district', 'hardoi district', 'amroha district',
       'pilibhit district', 'mainpuri district', 'kanpur dehat district',
       'jaunpur district', 'kaushambi district', 'hapur district',
       'meerut district', 'mathura district', 'chitrakoot district',
       'lalitpur district', 'mau district', 'mirzapur district',
       'bulandshahr district', 'gonda district', 'jhansi district',
       'chandauli district', 'bhadohi district', 'saharanpur district',
       'bara banki district', 'bareilly district', 'sitapur district',
       'sultanpur district', 'agra district', 'fatehpur district',
       'rae bareli district', 'firozabad district', 'kheri district',
       'gorakhpur district', 'unnao district', 'prayagraj district',
       'sonbhadra district', 'ghazipur district', 'farrukhabad district',
       'kannauj district', 'azamgarh district', 'ayodhya district',
       'deoria district', 'ghaziabad district', 'raebareli district',
       'gautambuddha nagar district', 'sant kabir nagar district',
       'lakhimpur kheri district', 'bagpat district',
       'barabanki district', 'bageshwar district',
       'udham singh nagar district', 'haridwar district',
       'champawat district', 'nainital district', 'dehradun district',
       'chamoli district', 'almora district', 'uttarkashi district',
       'pithoragarh district', 'rudraprayag district',

In [105]:
map_trans_path = r"D:\DS-Projects\Phonepe\Final\pulse\data\map\transaction\hover\country\india\state"
map_trans_list = os.listdir(map_trans_path)

table_5= []

for i in map_trans_list:
    state5 = os.path.join(map_trans_path, i)
    state5_list = os.listdir(state5)

   
    for j in state5_list:
        years5 = os.path.join(state5, j)
        years5_list = os.listdir(years5)

        
        for k in years5_list:
            qtr5 = os.path.join(years5, k)

            with open(qtr5, 'r') as f:
                data = json.load(f)
                
                for n in data['data']['hoverDataList']:
                    name=n['name']
                    count=n['metric'][0]['count']
                    amount=n['metric'][0]['amount']
                    table_5.append({
                        'states':i,
                        "years":j,
                        'quarter':int(k.strip('.json')),
                        'districts':name,
                        'transaction_count':count,
                        'transaction_amount':amount
                    })
                                    

               
df_table5=pd.DataFrame(table_5)

df_table5['states']=df_table5['states'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
df_table5['states']=df_table5['states'].str.replace('-',' ')
df_table5['states']=df_table5['states'].str.title()
df_table5['states']=df_table5['states'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

print(df_table5)
df_table5.to_csv('table5.csv',index=False)
df_table5.to_sql('map_trans', engine, if_exists='replace', index=False)

                  states years  quarter                          districts  \
0      Andaman & Nicobar  2018        1  north and middle andaman district
1      Andaman & Nicobar  2018        1             south andaman district
2      Andaman & Nicobar  2018        1                  nicobars district
3      Andaman & Nicobar  2018        2  north and middle andaman district
4      Andaman & Nicobar  2018        2             south andaman district
...                  ...   ...      ...                                ...
20599        West Bengal  2024        4                alipurduar district
20600        West Bengal  2024        4         paschim bardhaman district
20601        West Bengal  2024        4                     nadia district
20602        West Bengal  2024        4                   birbhum district
20603        West Bengal  2024        4           purba medinipur district

       transaction_count  transaction_amount
0                    442        9.316631e+05
1                   5688        1.256025e+07
2                    528        1.139849e+06
3                    825        1.317863e+06
4                   9395        2.394824e+07
...                  ...                 ...
20599           15875637        2.099251e+10
20600           56616799        6.968735e+10
20601           65274337        1.079320e+11
20602           36905213        5.778701e+10
20603           67833775        1.142771e+11

[20604 rows x 6 columns]

604

In [107]:
map_user_path = r"D:\DS-Projects\Phonepe\Final\pulse\data\map\user\hover\country\india\state"
map_user_list = os.listdir(map_user_path)

table_6= []
for i in map_user_list:
    state6 = os.path.join(map_user_path, i)
    state6_list = os.listdir(state6)

   
    for j in state6_list:
        years6 = os.path.join(state6, j)
        years6_list = os.listdir(years6)

        
        for k in years6_list:
            qtr6 = os.path.join(years6, k)
            data=open(qtr6,"r")

            J=json.load(data)

            try:
                for n in J['data']['hoverData'].items():
                    districts=n[0]
                    regusers=n[1]['registeredUsers']
                    appopens=n[1]['appOpens']

                    table_6.append({
                        'states':i,
                        "years":j,
                        'quarter':int(k.strip('.json')),
                        'districts':districts,
                        'registered_users':regusers,
                        'app_opens':appopens,
                    })
            except:
                pass

df_table6=pd.DataFrame(table_6)

df_table6['states']=df_table6['states'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
df_table6['states']=df_table6['states'].str.replace('-',' ')
df_table6['states']=df_table6['states'].str.title()
df_table6['states']=df_table6['states'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

print(df_table6)
df_table6.to_csv('table6.csv',index=False)
df_table6.to_sql('map_user', engine, if_exists='replace', index=False)

                  states years  quarter                          districts  \
0      Andaman & Nicobar  2018        1  north and middle andaman district
1      Andaman & Nicobar  2018        1             south andaman district
2      Andaman & Nicobar  2018        1                  nicobars district
3      Andaman & Nicobar  2018        2  north and middle andaman district
4      Andaman & Nicobar  2018        2             south andaman district
...                  ...   ...      ...                                ...
20603        West Bengal  2024        4                alipurduar district
20604        West Bengal  2024        4         paschim bardhaman district
20605        West Bengal  2024        4                     nadia district
20606        West Bengal  2024        4                   birbhum district
20607        West Bengal  2024        4           purba medinipur district

       registered_users  app_opens
0                   632          0
1                  5846          0
2                   262          0
3                   911          0
4                  8143          0
...                 ...        ...
20603            475688   31842355
20604           1468252   80543469
20605           1861738   98740305
20606           1114220   73465525
20607           1717074  108350777

[20608 rows x 6 columns]

608

In [108]:
top_ins_path = r"D:\DS-Projects\Phonepe\Final\pulse\data\top\insurance\country\india\state"
top_ins_list = os.listdir(top_ins_path)

table_7= []

for i in top_ins_list:
    state7 = os.path.join(top_ins_path, i)
    state7_list = os.listdir(state7)

   
    for j in state7_list:
        years7 = os.path.join(state7, j)
        years7_list = os.listdir(years7)

        
        for k in years7_list:
            qtr7 = os.path.join(years7, k)
            data=open(qtr7,"r")

            J=json.load(data)

            for n in J["data"]["pincodes"]:
                name=n['entityName']
                count=n['metric']['count']
                amount=n['metric']['amount']

                table_7.append({
                        'states':i,
                        "years":j,
                        'quarter':int(k.strip('.json')),
                        'pincodes':name,
                        'transaction_count':count,
                        'transaction_amount':amount
                    })






df_table7=pd.DataFrame(table_7)

df_table7['states']=df_table7['states'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
df_table7['states']=df_table7['states'].str.replace('-',' ')
df_table7['states']=df_table7['states'].str.title()
df_table7['states']=df_table7['states'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

print(df_table7)
df_table7.to_csv('table7.csv',index=False)
df_table7.to_sql('top_ins', engine, if_exists='replace', index=False)

                 states years  quarter pincodes  transaction_count  \
0     Andaman & Nicobar  2020        2   744301                  3
1     Andaman & Nicobar  2020        2   744104                  2
2     Andaman & Nicobar  2020        2   744101                  1
3     Andaman & Nicobar  2020        3   744112                  9
4     Andaman & Nicobar  2020        3   744105                  7
...                 ...   ...      ...      ...                ...
6663        West Bengal  2024        4   711101                713
6664        West Bengal  2024        4   700091                642
6665        West Bengal  2024        4   700150                627
6666        West Bengal  2024        4   700039                619
6667        West Bengal  2024        4   700156                574

      transaction_amount
0                  565.0
1                  513.0
2                  282.0
3                 3432.0
4                 3948.0
...                  ...
6663            750354.0
6664            969634.0
6665            761501.0
6666            787836.0
6667            888613.0

[6668 rows x 6 columns]

668

In [109]:
top_trans_path = r"D:\DS-Projects\Phonepe\Final\pulse\data\top\transaction\country\india\state"
top_trans_list = os.listdir(top_trans_path)

table_8= []

for i in top_trans_list:
    state8 = os.path.join(top_trans_path, i)
    state8_list = os.listdir(state8)

   
    for j in state8_list:
        years8 = os.path.join(state8, j)
        years8_list = os.listdir(years8)

        
        for k in years8_list:
            qtr8 = os.path.join(years8, k)
            data=open(qtr8,"r")

            J=json.load(data)

            for n in J["data"]["pincodes"]:
                name=n['entityName']
                count=n['metric']['count']
                amount=n['metric']['amount']

                table_8.append({
                        'states':i,
                        "years":j,
                        'quarter':int(k.strip('.json')),
                        'pincodes':name,
                        'transaction_count':count,
                        'transaction_amount':amount
                    })






df_table8=pd.DataFrame(table_8)

df_table8['states']=df_table8['states'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
df_table8['states']=df_table8['states'].str.replace('-',' ')
df_table8['states']=df_table8['states'].str.title()
df_table8['states']=df_table8['states'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

print(df_table8)
df_table8.to_csv('table8.csv',index=False)
df_table8.to_sql('top_trans', engine, if_exists='replace', index=False)

                 states years  quarter pincodes  transaction_count  \
0     Andaman & Nicobar  2018        1   744101               1622
1     Andaman & Nicobar  2018        1   744103               1223
2     Andaman & Nicobar  2018        1   744102                969
3     Andaman & Nicobar  2018        1   744105                685
4     Andaman & Nicobar  2018        1   744104                340
...                 ...   ...      ...      ...                ...
9994        West Bengal  2024        4   711101            6753348
9995        West Bengal  2024        4   700059            6662715
9996        West Bengal  2024        4   700039            6575693
9997        West Bengal  2024        4   734001            6432082
9998        West Bengal  2024        4   733134            6313560

      transaction_amount
0           2.769298e+06
1           2.238042e+06
2           3.519060e+06
3           1.298561e+06
4           1.039715e+06
...                  ...
9994        1.049483e+10
9995        8.009476e+09
9996        9.018748e+09
9997        8.996529e+09
9998        1.050259e+10

[9999 rows x 6 columns]

999

In [111]:
top_user_path = r"D:\DS-Projects\Phonepe\Final\pulse\data\top\user\country\india\state"
top_user_list = os.listdir(top_user_path )

table_9= []

for i in top_user_list:
    state9 = os.path.join(top_user_path , i)
    state9_list = os.listdir(state9)

   
    for j in state9_list:
        years9= os.path.join(state9, j)
        years9_list = os.listdir(years9)

        
        for k in years9_list:
            qtr9 = os.path.join(years9, k)
            data=open(qtr9,"r")

            J=json.load(data)

            for n in J["data"]["pincodes"]:
                name=n['name']
                regusers=n['registeredUsers']

                table_9.append({
                        'states':i,
                        "years":j,
                        'quarter':int(k.strip('.json')),
                        'pincodes':name,
                        'registered_users':regusers
                    })






df_table9=pd.DataFrame(table_9)

df_table9['states']=df_table9['states'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
df_table9['states']=df_table9['states'].str.replace('-',' ')
df_table9['states']=df_table9['states'].str.title()
df_table9['states']=df_table9['states'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

print(df_table9)
df_table9.to_csv('table9.csv',index=False)
df_table9.to_sql('top_user', engine, if_exists='replace', index=False)

                 states years  quarter pincodes  registered_users
0     Andaman & Nicobar  2018        1   744103              1608
1     Andaman & Nicobar  2018        1   744101              1108
2     Andaman & Nicobar  2018        1   744105              1075
3     Andaman & Nicobar  2018        1   744102              1006
4     Andaman & Nicobar  2018        1   744104               272
...                 ...   ...      ...      ...               ...
9995        West Bengal  2024        4   733134            169596
9996        West Bengal  2024        4   700059            169448
9997        West Bengal  2024        4   711302            146034
9998        West Bengal  2024        4   700150            142151
9999        West Bengal  2024        4   711106            142077

[10000 rows x 5 columns]

1000